{
  "extends": ["react-app", "react-app/jest"],
  "rules": {
    "no-console": "warn",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "jsx-quotes": ["error", "prefer-single"],
    "indent": ["warn", 2],
    "max-len": ["error", { "code": 120 }],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"],
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 1 }]
  }
}
