// для media-запросов
@mixin media-medium {
  @media (max-width: $medium-width) {
    @content;
  }
}

@mixin media-small {
  @media (max-width: $small-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin media-hover {
  @media (hover: hover) {
    @content;
  }
}

// списки, ссылки и кнопки с hover
@mixin list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link($color: $color-dark-xl) {
  text-decoration: none;
  color: $color;
  @extend %transition-opacity;

  &:hover {
    opacity: 0.8;
  }
}

@mixin button {
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  @extend %transition-opacity;

  &:hover {
    opacity: 0.8;
  }
}

// для заголовков секций
@mixin section-title($color: $color-dark-xl) {
  margin: 0;
  color: $color;
  font-size: 4rem;
  font-weight: $fw-regular;
  line-height: normal;
}

// для текста
@mixin text($color: $color-dark-xl, $font-weight: $fw-regular) {
  margin: 0;
  color: $color;
  font-size: 1.6rem;
  font-weight: $font-weight;
  line-height: 1.38;
}
