@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/placeholders.scss';
@import '../../styles/abstract/mixins.scss';

.button {
  @include button;
  @include text;
  width: 17.9rem;
  height: 3.8rem;
  border-radius: 1.2rem;
  border: 2px solid $color-bg;
}
