@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/placeholders.scss';
@import '../../styles/abstract/mixins.scss';

.button {
  @include button;
  @include text;
  width: 17.9rem;
  height: 3.8rem;
  border-radius: 1.2rem;
  border: 2px solid $color-bg;
  @extend %transition-all;

  &:active {
    color: $color-light-xl;
    background-color: $color-bg;
  }

  @include media-hover {
    &:hover {
      font-weight: $fw-bold;
      border: 0.3rem solid $color-bg;
    }
  }
}
