@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/placeholders.scss';
@import '../../../../styles/abstract/mixins.scss';

.articles {
  margin: auto;
  max-width: $content-width;
  width: 100%;
  padding: 16rem 7rem 14.8rem;
}

.articles__title {
  @include section-title;
  padding-left: 1rem;
  padding-bottom: 3.9rem;
}

.articles__container {
  padding: 1.2rem;
}
