@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/placeholders.scss';
@import '../../../styles/abstract/mixins.scss';

.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease;

  &_opened {
    visibility: visible;
    opacity: 1;
  }
}

.popup__container {
  padding: 0 4rem;
  width: 35rem;
  background: $color-light-xl;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;

  @include media-small {
    width: 24rem;
    padding: 0 2rem;
  }
}

.popup__title {
  margin: 0;
  padding: 6rem 0;
  color: $color-dark-xl;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;

  @include media-small {
    font-size: 1.8rem;
  }
}

.popup__close {
  width: 3.2rem;
  height: 3.2rem;
  background-image: url(../../../images/icon/popup__close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  padding: 0;
  position: absolute;
  top: -4rem;
  right: -4rem;
  cursor: pointer;
  @include button;

  @include media-small {
    width: 2rem;
    height: 2rem;
    top: -3.6rem;
    right: 0;
  }
}
