@import '../../styles/abstract/placeholders.scss';
@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';

.navigation {
  display: flex;
}

.navigation__list {
  @include list;
  display: flex;
  gap: 4rem;

  &_type_header {
    gap: 3.2rem;
  }
}

.navigation__item {
  @include link;
  @include text($color-light-xl);

  &_type_active {
    font-weight: $fw-bold;
  }
}
