@import '../../../../styles/abstract/constants.scss';
@import '../../../../styles/abstract/placeholders.scss';
@import '../../../../styles/abstract/mixins.scss';

.slick-slider {
  width: 100%;
  margin: 0 auto;
}

.slick-dots {
  bottom: 1.4rem;
}

.slick-dots li button {
  padding: 0.7rem;
  width: 3rem;
  height: 3rem;

  &:before {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: $color-light-xl;
  }
}

.promo__item {
  position: relative;
  max-width: 100%;
  height: calc(100vh - 76px);

  &_1 {
    background: linear-gradient(
        90deg,
        rgba(23, 23, 24, 1) 3%,
        rgba(23, 23, 24, 0.8) 20%,
        rgba(0, 0, 0, 0) 57.5%
      ),
      url('../../../../images/Promo/1.jpg');
    background-position: center;
    background-size: cover;
  }

  &_2 {
    background: linear-gradient(
        90deg,
        rgba(23, 23, 24, 1) 3%,
        rgba(23, 23, 24, 0.8) 20%,
        rgba(0, 0, 0, 0) 57.5%
      ),
      url('../../../../images/Promo/2.jpg');
    background-position: center;
    background-size: cover;
  }

  &_3 {
    background: linear-gradient(
        90deg,
        rgba(23, 23, 24, 1) 3%,
        rgba(23, 23, 24, 0.8) 20%,
        rgba(0, 0, 0, 0) 57.5%
      ),
      url('../../../../images/Promo/3.jpg');
    background-position: center;
    background-size: cover;
  }
}

.promo__container {
  position: absolute;
  top: 34%;
  left: 5.5%;
  max-width: 55rem;
  width: 100%;
}

.promo__title {
  margin: 0;
  padding-bottom: 1.1rem;
  @extend %font-thin;
  font-size: 5.2rem;
  font-weight: $fw-medium;
  line-height: normal;
  color: $color-light-xl;
}

.promo__subtitle {
  @include text-l($color-light-xl);
  @extend %font-thin;
  padding-bottom: 5.1rem;
}

.promo__button {
  position: relative;
  @include link;
  @include button;
  @include text-m;
  width: 36.7rem;
  height: 5.4rem;
  border-radius: 0.8rem;
  background-color: $color-lime;
  z-index: 9;
}
